# Dependencies
/node_modules
/dist
/wwwroot/dist

# .NET Core build artifacts
/bin
/obj

# User-specific files
.DS_Store
*.suo
*.user
*.userosscache
*.sln.docstates

# Visual Studio Code files
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Rider files
.idea/
*.sln.iml

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
build/
bld/

# Secrets
appsettings.Development.json
secrets.json
*.env

# Log files
*.log
